@font-face {
  font-family: 'Rajdhani';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../lib/fonts/Rajdhani-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Rajdhani';
  font-weight: 600;
  font-style: semi-bold;
  font-display: swap;
  src: url(../lib/fonts/Rajdhani-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Rajdhani';
  font-weight: 700;
  font-style: bold;
  font-display: swap;
  src: url(../lib/fonts/Rajdhani-Bold.ttf) format('truetype');
}


//@font-face {
//  font-family: 'Inter UI';
//  font-style:  normal;
//  font-display: auto;
//  font-weight: 400;
//  src: url("../lib/fonts/Inter-UI-Regular.woff2") format("woff2"),
//  url("../lib/fonts/Inter-UI-Regular.woff") format("woff");
//}
//@font-face {
//  font-family: 'Inter UI';
//  font-style:  italic;
//  font-display: auto;
//  font-weight: 400;
//  src: url("../lib/fonts/Inter-UI-Italic.woff2") format("woff2"),
//  url("../lib/fonts/Inter-UI-Italic.woff") format("woff");
//}
//
//@font-face {
//  font-family: 'Inter UI';
//  font-style:  normal;
//  font-display: auto;
//  font-weight: 600;
//  src: url("../lib/fonts/Inter-UI-Medium.woff2") format("woff2"),
//  url("../lib/fonts/Inter-UI-Medium.woff") format("woff");
//}
//@font-face {
//  font-family: 'Inter UI';
//  font-style:  italic;
//  font-display: auto;
//  font-weight: 600;
//  src: url("../lib/fonts/Inter-UI-MediumItalic.woff2") format("woff2"),
//  url("../lib/fonts/Inter-UI-MediumItalic.woff") format("woff");
//}
//
//@font-face {
//  font-family: 'Inter UI';
//  font-style:  normal;
//  font-display: auto;
//  font-weight: 800;
//  src: url("../lib/fonts/Inter-UI-Bold.woff2") format("woff2"),
//  url("../lib/fonts/Inter-UI-Bold.woff") format("woff");
//}
//@font-face {
//  font-family: 'Inter UI';
//  font-style:  italic;
//  font-display: auto;
//  font-weight: 800;
//  src: url("../lib/fonts/Inter-UI-BoldItalic.woff2") format("woff2"),
//  url("../lib/fonts/Inter-UI-BoldItalic.woff") format("woff");
//}